.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  @include hover(transform, scale(1.2));

  &--phone {
    background-image: url(../icons/icon-phone.svg);
  }

  &--menu {
    background-image: url(../icons/Icon-Burger-menu.svg);

    &:hover {
      background-image: url(../icons/icon-burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../icons/icon-close.svg);
  }

  &___wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    &:hover {
      .top-bar__phone-number {
        width: 150px;
        opacity: 1;
      }
    }
  }
}
